{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}


<h2>Slider</h2>

<div class="carousel">
  <div class="carousel-cell">1</div>
  <div class="carousel-cell">2</div>
  <div class="carousel-cell">3</div>
  <div class="carousel-cell">4</div>
  <div class="carousel-cell">5</div>
</div>

<script src="{{ 'flickity.pkgd.min.js' | asset_url }}" async></script>
<script src="{{ 'featured-collection-slider.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "Slider",
  "tag": "section",
  "class": "featured-collection-slider",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Featured Collection Slider"
    }
  ]
}
{% endschema %}