/* Fonts */
.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Slider */
.featured-collection-slider .carousel {
    background: #eee;
}

.featured-collection-slider .carousel .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
.featured-collection-slider .carousel .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

@media screen and (min-width: 768px) {
    .featured-collection-slider .carousel .carousel-cell {
        width: 50%; /* Show 2 slides on tablets */
    }
}

@media screen and (min-width: 1024px) {
    .featured-collection-slider .carousel .carousel-cell {
        width: 25%; /* Show up to 4 slides on desktops */
    }
}
