/* Fonts */
.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Slider */
.featured-collection-slider .carousel {
    background: #eee;
}

.featured-collection-slider .carousel .carousel-cell {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .featured-collection-slider .carousel .carousel-cell {
        width: 50%; /* Show 2 slides on tablets */
    }
}

@media screen and (min-width: 1024px) {
    .featured-collection-slider .carousel .carousel-cell.col-dt-3 {
        width: 33.3333%;
    }
    .featured-collection-slider .carousel .carousel-cell.col-dt-4 {
        width: 25%;
    }
    .featured-collection-slider .carousel .carousel-cell.col-dt-5 {
        width: 20%;
    }
    .featured-collection-slider .carousel .carousel-cell.col-dt-6 {
        width: 16.6667%;
    }
}
